*	{
	box-sizing: border-box;
}
img	{
	width: 100%;
	max-width: 100%;
}
html	{ 
	background-color: #FFE5CC;
	font-size: 16px;
}
body	{
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
	font-family: Arial;
}
.container{
	width: 70%;
}
header	{
	padding: 15px 0px 10px;
	background: #ffa07a;
	width:100%;

}
h1	{
	clear: both;
	padding-left: 25px;
	margin-bottom: 0px;
}
.column	{
	float: left;
	width: 50%;
	column-gap: initial;
}
.row:after	{
	content: "";
	display: table;
	clear: both;
}
.container	{
	margin: 0px auto;
	width: 1180px;
	clear: both;
}

nav{
    border-bottom:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
nav li{
    display:inline;
}
nav a{
    display:inline-block;
    padding:10px;
}

a:hover{
	color:#660033;
}
a:visited{
	color:#000;
}
a:active{
	background-color:#0000FF;
}
a:focus{
	font-weight: bold;
}

.container	{
	margin: 0px auto;
	clear: both;
}
#main	{
	margin: 0px;
	padding: 0px 25 px;
	width: 60%;
	float: left;
	margin-bottom: 30px;
}
footer	{
	clear: both;
	padding:20px 0px;
	border-top: 5px groove #cc6600;
}
footer > p	{
	font-size: 12px;
}


ul {
	list-style-type: none;
  }